html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(183, 220, 243);
}

.container{
    width: 400px;
    height: 520px;
    background-color: rgb(44, 38, 38);
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}

.container .head{
    left: 0;
    right: 0px;
    background-color: rgb(198, 191, 191);
    width: 350px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 50px;
    padding-left: 5px;

}

.container .body{
    top: 125px;
    left: 0;
    right: 0;
    position: absolute;
    width: 350px;
    height: 360px;
    margin: auto;
    /* background-color: aliceblue; */
    
}

.container .body ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.container .body ul li{
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 56px;
    margin: 5px;
    background-color: rgb(244, 234, 234);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.container .body ul li:hover{
    background-color: rgb(202, 190, 190);
}


.container .body ul li:nth-child(17){
    display: none;
}

.container .body ul li:nth-child(3){
    background-color: red;
}
.container .body ul li:nth-child(19){
    background-color: red;
}
.container .body ul li:nth-child(20){
    width: 128px;
}